@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #242228;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.play-area {
    display: grid;
    width: 325px;
    height: 330px;
}

.board-size-3 {
    grid-template-columns: auto auto auto;
}

.board-size-4 {
    grid-template-columns: auto auto auto auto;
}

.board-size-5 {
    grid-template-columns: auto auto auto auto auto;
}

.block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
    border-radius: 5px;
    background: #0c5460;
    margin: 4px;
}

    .block:hover {
        cursor: pointer;
    }

.occupied:hover {
    background: #ff3a3a;
}

.spot_X {
    color: white !important;
    background-color: #338d33f0 !important;
}
.spot_O {
    color: white !important;
    background-color: #ff1fa6d0 !important;
}

.overlay{
    background-color: #EEEEEEbb;
    position: absolute;
    z-index:100;
}

.center {
    margin-top: 130px;
    /*margin-bottom: 130px;*/
    /*height: 330px;*/
    width: 400px;
    margin-left: -38px;
    /*margin-right: -100px;*/
    /*border: 3px solid green;*/
    /*text-align: center;*/

    line-height: 70px;
    height: 70px;
    text-align: center;
}

.win-message {
    background-color: #8cff7d99;
}
.lose-message {
    background-color: #ff535399;
}
.draw-message {
    background-color: #fffc8d99;
}

.center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-weight: bold;
}